<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CopyPath" value="\\10.1.10.213\databackup\"/>
    <add key="ToPath" value="D:\backup\"/>
    <add key="Directory" value="BXB2015,BXB2016,jenereport,fzswt,guozikuguan,LBL,mynote,RS,XYB"/>
    <add key="SMSurl" value="http://10.1.10.213:60080/API/serverSMS/postJson"/>
    <add key="serverName" value="自动异地外网"/>
    <add key="phone" value="18622420752"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
