<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="IoRyClientB" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="0" maxStringContentLength="2147483647"
            maxArrayLength="0" maxBytesPerRead="0" maxNameTableCharCount="0" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:8090/yuan" binding="netTcpBinding"
        bindingConfiguration="IoRyClientB" contract="IoRyWCFServiceReference.ImyService"
        name="Clientendpoint" />
    </client>
  </system.serviceModel>
</configuration>
