<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="IoRyDuplex" receiveTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="false">
          <readerQuotas maxStringContentLength="2147483647"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="IoRyB" name="yezhanbafang.fw.WCF.Server.Servicefd">
        <endpoint address="net.tcp://127.0.0.1:8090/yuan" binding="netTcpBinding" bindingConfiguration="IoRyDuplex" name="IoRyEndpoint" contract="yezhanbafang.fw.WCF.ImyService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8089/yuan"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IoRyB">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="Max" value="10000"/>
    <add key="MyCheck" value="ydh"/>
    <!--原先的加密解密方式已经被非对称加密取代 但是升级用的老服务要用此配置所以留下 -->
    <add key="Encrypt" value="abcd1234"/>
    <add key="name" value="BigP2016"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
