<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  <appSettings>
    <add key="openfile" value="二代测序.exe"/>
    <add key="updatefile" value="二代测序"/>
    <add key="WCFaddress" value="net.tcp://erdai.7xbj.com:9093/yuan"/>
  </appSettings>
</configuration>
